<header>
    <a href='/' class='logo'>
        <img src="/assets/img/logo.png" alt="Um logo de café com pipoca">
    </a>

    <h1 class='titulo'>Pipoca Cafeinada</h1>

    <label for='input-menu-lateral' role='button' class='botao-hamburguer'>
        <img src='/assets/img/menu.png' alt='ícone do menu hambúrguer'>
    </label>

    <input id='input-menu-lateral' type='checkbox' hidden />

    <div class='menu-lateral'>
        <label for='input-menu-lateral' class='fundo-fechar' tabindex='-1' aria-hidden='true'></label>
        
        <nav role='navigation'>
            <ul>
                <li>
                    <a href='/sobre/'>Sobre</a>
                </li>
            </ul>
        </nav>
    </div>
</header>