/* #region Default Tag Styling */
html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-dark-color);
    background-color: #eee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: underline;
}

main {
    min-height: 100%;
    padding-bottom: 10rem;
}
/* #endregion */

/* #region Helper classes */
.no-underline {
    text-decoration: none;
}
/* #endregion */

/* #region menu */
.menu-button {
    position: fixed;
    left: calc(100% - 3.2rem);
    top: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.35rem;
    border: 0.125rem solid var(--text-dark-color);
    border-radius: 100%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-size: 1.15rem;
    line-height: 2.1rem;
    text-align: center;
}

#input-menu:checked ~ .menu {
    right: 0;
}

.menu {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 1000;
}

    .menu .menu-close {
        width: 10%;
        height: 100%;
        float: left;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .menu nav  {
        width: 90%;
        height: 100%;
        left: 10%;
        float: right;
        background-color: var(--secondary-color);
        color: var(--text-light-color);
    }

        .menu .area-logo {
            box-sizing: border-box;
            width: 100%;
            height: 13rem;
            padding: 1rem;
        }

        .menu .logo {
            border: 1px solid var(--text-light-color);
            border-radius: 100%;
            overflow: hidden;
            margin: 0.5rem auto;
            width: 10rem;
            height: 10rem;
            line-height: 18rem;
            background-color: #d77bba;
        }

            .menu .logo img {
                width: 10.5rem;
            }

        .menu ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
        }

        .menu .first-link {
            border-top: 1px solid var(--text-light-color);
        }

        .menu .link-group {
            width: 100%;
            height: 2.25rem;
            padding: 0.75rem;
            border-bottom: 1px solid var(--text-light-color);
            display: inline-block;
            font-size: 1.3rem;
            line-height: 2.5rem;
        }

        .menu .link a {
            width: 100%;
            height: 2.25rem;
            padding: 0.75rem;
            border-bottom: 1px solid var(--text-light-color);
            display: inline-block;
            font-size: 1.3rem;
            line-height: 2.5rem;
            text-decoration: none;
        }

            .menu .link i {
                margin-right: 0.5rem;
            }

            .menu .link a.selected, .menu .link a:hover, .menu .link a:active {
                background-color: var(--primary-color);
            }

        .menu .link.category a {
            padding-left: 2rem;
        }
/* #endregion */

/* #region homeButton */
.home-button {
    position: absolute;
    left: 0.2rem;
    top: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.35rem;
    border: 0.125rem solid var(--text-dark-color);
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-size: 1.15rem;
    line-height: 1.88rem;
    text-align: center;
}
/* #endregion */

/* #region title */
.area-title {
    min-height: 10rem;
    padding: 1.5rem 2rem 1rem 2rem;
    text-align: center;
    color: #333;
}

    .area-title.min {
        min-height: 5rem;
    }

    .area-title .title {
        font-size: 3rem;
    }

    .area-title .description {
        font-size: 1.3rem;
    }
/* #endregion */

/* #region footer */
footer {
    width: 100%;
    min-height: 8rem;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--secondary-color);
    color: var(--text-light-color);
    text-align: center;
    font-size: 1rem;
}
/* #endregion */

/* #region posts */
.posts {
    padding: 0.5rem 20%;
}

    .posts .post {
        margin: 1rem 0;
        padding: 0.75rem 0.5rem 0.5rem 0.5rem;
        border: 1px solid black;
        border-radius: 5px;
    }

    .posts .post .details {
        padding: 0 0.5rem;
        display: flex;
    }

        .posts .post .tag {
            margin-right: 0.25rem;
            padding: 0.225rem;
            border-radius: 10px;
            flex: 1;
            background-color: var(--primary-color);
            text-align: center;
        }

        .posts .post .date {
            text-align: right;
            flex: 1;
        }

        .posts .post .title {
            margin: 0.5rem 0;
            font-size: 1.15rem;
        }

        .posts .post .synopsis {
            margin: 0;
            font-size: 1rem;
        }
/* #endregion */

/* #region page */
.content {
    border-top: 1px solid #000;
    padding: 0.5rem 2rem;
    overflow: hidden;
}

.content img {
    max-width: 100%;
}
/* #endregion */

/* #region tags */
.tags .content {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

    .tags .content .tag {
        margin-right: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        background-color: var(--primary-color);
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
    }
/* #endregion */

/* #region Media Queries */
@media (max-width: 420px) {
    .area-title .title {
        font-size: 2.2rem;
        padding-bottom: 0.5rem;
    }

    .area-title .description {
        font-size: 1.1rem;
    }

    .posts {
        padding: 0.5rem 5%;
    }
}

/* #endregion */

/* #region icomoon */
@font-face {
    font-family: 'icomoon';
    src:  url('icomoon/fonts/icomoon.eot?5gfgak');
    src:  url('icomoon/fonts/icomoon.eot?5gfgak#iefix') format('embedded-opentype'),
      url('icomoon/fonts/icomoon.ttf?5gfgak') format('truetype'),
      url('icomoon/fonts/icomoon.woff?5gfgak') format('woff'),
      url('icomoon/fonts/icomoon.svg?5gfgak#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-faq:before {
    content: "\f128";
  }
  .icon-tags:before {
    content: "\f02c";
  }
  .icon-down:before {
    content: "\f0d7";
  }
  .icon-code:before {
    content: "\f121";
  }
  .icon-archive:before {
    content: "\f187";
  }
  .icon-art:before {
    content: "\f1fc";
  }
  .icon-heart:before {
    content: "\f004";
  }
  .icon-about:before {
    content: "\f007";
  }
  .icon-home:before {
    content: "\f015";
  }
  .icon-twitter:before {
    content: "\f099";
  }
  .icon-menu:before {
    content: "\f0c9";
  }
  .icon-github:before {
    content: "\f113";
  }
  .icon-games:before {
    content: "\f11b";
  }
  .icon-blog:before {
    content: "\f1ea";
  }  
/* #endregion */

/* #region code */
.content pre,
.content .highlight {
  background: var(--secondary-color);
  margin: 0 -2rem;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: var(--text-light-color);
  line-height: 22.400000000000002px;
}
.content .highlight .gutter pre,
.content .gist .gist-file .gist-data .line-numbers {
    user-select: none;
    color: #888;
    font-size: 0.85em;
}
.content pre,
.content code {
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
}
.content code {
  background: var(--text-light-color);
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.content pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.content .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.content .highlight table {
  margin: 0;
  width: auto;
}
.content .highlight td {
  border: none;
  padding: 0;
}
.content .highlight figcaption {
  font-size: 0.85em;
  color: var(--text-light-color);
  line-height: 1em;
  margin-bottom: 1em;
}
.content .highlight figcaption:before,
.content .highlight figcaption:after {
  content: "";
  display: table;
}
.content .highlight figcaption:after {
  clear: both;
}
.content .highlight figcaption a {
  float: right;
}
.content .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.content .highlight .line {
  height: 22.400000000000002px;
}
.content .highlight .line.marked {
  background: #8BE9FD;
}
pre .comment,
pre .title {
  color: #8BE9FD;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #FF79C6;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #FF79C6;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #8BE9FD;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #8BE9FD;
}
pre .css .hexcolor {
  color: #8BE9FD;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #8BE9FD;
}
pre .keyword,
pre .javascript .function {
  color: #FF79C6;
}

.bash .code .line::before  {
    content: "$ ";
    user-select: none;
    color: #FF79C6;
}