---
---

@import "minima";

.page-content {
    margin-top: 3rem;
    padding: 1rem;
}

.post-content {
    margin-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* #region header */
header {
    width: 100%;
    height: 3rem;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 100;
    background-color: #292f36;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;

    .logo {
        width: 2rem;
        height: 2rem;
        padding: 0.2rem;
        margin: 0.5rem;
        border: 0.1rem solid #fff;
        background-color: #4799D8;
        box-sizing: border-box;
        line-height: 2rem;
        color: #fff;
        border-radius: 50%;
    
        img {
            width: 1.5rem;
            vertical-align: 0;
        }
    }

    .titulo {
        height: 100%;
        margin: 0;
        padding: 0 1rem;
        flex-grow: 1;
        line-height: 3rem;
        font-size: 1.1rem;
    }

    .botao-hamburguer {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
        border: 0.1rem solid #fff;
        border-radius: 10%;
        cursor: pointer;

        img {
            width: 1.25rem;
            height: 1.55rem;
        }
    }
}
/* #endregion */

/* #region menu-lateral */
#input-menu-lateral:checked ~ .menu-lateral {
    right: 0;
    animation-duration: 0.2s;
    animation-name: abrir-menu;
}

.menu-lateral {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 1000;

    .fundo-fechar {
        width: 10%;
        height: 100%;
        float: left;
        background-color: rgba(0, 0, 0, 0.3);
    }

    nav {
        width: 90%;
        height: 100%;
        left: 10%;
        float: right;
        background-color: #292f36;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: left;
            }
            
            a {
                width: 100%;
                height: 2.5rem;
                padding: 0.75rem;
                border-bottom: 1px solid #fff;
                display:inline-block;
                font-size: 1.3rem;
                line-height: 2.5rem;
    
                &.selected, &:hover, &:active {
                    background-color: #4799D8;
                }
            }
    }
}
/* #endregion */

/* #region media queries */
@media (min-width: 768px) {
    header {
        .titulo {
            text-align: left;
        }

        .botao-hamburguer {
            display: none;
        }
    }

    .menu-lateral {
        width: auto;
        height: auto;
        position: relative;
        right: 0;

        nav {
            ul {
                display: flex;
                justify-content: flex-end;
            }

            a {
                width: inherit;
                height: 1.5rem;
                border-bottom: none;
                margin-right: 1rem;
                line-height: 1.5rem;

                &.selected {
                    padding-bottom: 0.5rem;
                    border-bottom: 0.25rem solid #4799D8;
                }

                &.selected, &:hover, &:active {
                    background-color: initial;
                    color: #4799D8;
                    background-color: initial;
                }
            }
        }
    }
}
/* #endregion */

/* #region animações */
@keyframes abrir-menu {
    from {
        right: -110%;
    }

    to {
        right: 0;
    }
}
/* #endregion */