<main class='index'>
    <div class='area-title'>
        <h1 class='title'><%- config.title %></h1>

        <p class='description'><%- config.description %></p>
    </div>

    <div class="content">
        <%- partial('partial/posts', { posts: site.posts }) %>
    </div>
</main>